@media screen and (min-width: 1000px) {
    .encrypt-panel img {
        transform: scale(1.7);
    }
}

@media screen and (max-width: 1200px) {
    .wrapper {
        display: block;
        margin: 10px;
        height: auto;
    }
    .encrypt-input {
        width: auto;
    }
    .encrypt-panel {
        width: auto;
        height: auto;
        padding: 30px;
        margin: 50px 0;
    }
    .center-absolute {
        transform: none;
        position: relative;
        top: 0;
        left: 0;

    }
    .encrypt-panel .center-absolute p {
        color: #fff;
        margin-bottom: 0;
        line-height: 1.4;
        font-size: 16px;
        
    }
    .encrypt-panel img {
        display: none;
    }
    footer {
        margin: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .warning-red {
        width: 80%;
    }
    #encrypt-btn, #decrypt-btn {
        width: 100%;
        margin: 5px 0;
    }
}
